/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"); */

@import "loading.css";

* {
    /* --primary-color: #022e47; */
    --primary-color: #00273d;
    --secondary-color: #c70039;
    --accent-color: #030d13;
    --text-color: #574141;
    --heading-gradient: linear-gradient(
        180deg,
        #030d13 0%,
        rgba(2, 46, 71, 0.85) 100%
    );
    --secondary-heading-gradient: linear-gradient(
        180deg,
        #c70039 0%,
        rgba(209, 23, 64, 0.85) 100%
    );
    --breadcrumbs-color: #3b4856;
    --side-space: 120px;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.no-scroll {
    overflow: hidden;
}

.other-page {
    margin-top: 80px;
    min-height: 80vh;
    scroll-behavior: smooth;
    padding: 0 var(--side-space);
}

.breadcrumb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.15em;
    color: var(--breadcrumbs-color);
}

.breadcrumb__title {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.03em;
}

.breadcrumb__link {
    text-decoration: none;
    color: var(--breadcrumbs-color);
}

.breadcrumb__link:hover {
    color: var(--primary-color);
    border-bottom: 0.1px solid var(--breadcrumbs-color);
}

.breadcrumb span {
    margin: 0 10px;
}

.title {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 54px;
    margin: 50px 0 30px 0;
    color: var(--primary-color);
    background: var(--heading-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 1px;
    background: var(--accent-color);
}

.cta-btn {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: white;
    background-color: var(--secondary-color);
    filter: drop-shadow(2px 10px 10px rgba(0, 0, 0, 0.1));
    transition: all 150ms ease;
}

.cta-btn:hover {
    background-color: #d81048;
    transition: all 200ms ease;
}

.fb-btn {
    padding: 0 var(--side-space);
}

.fb-btn iframe {
    width: 450px;
}

@media (min-width: 1500px) {
    * {
        --side-space: 15vw;
    }
}
@media (max-width: 1000px) {
    * {
        --side-space: 60px;
    }
}

@media (max-width: 850px) {
    .title {
        font-size: 45px;
        margin-top: 30px;
    }
}

@media (max-width: 650px) {
    .breadcrumb__title {
        display: none;
    }
    .title {
        font-size: 40px;
    }
    .fb-btn iframe {
        width: 330px;
    }
}

@media (max-width: 500px) {
    * {
        --side-space: 40px;
    }

    .breadcrumb span {
        margin: 0 4px;
    }
}

@media (max-width: 400px) {
    * {
        --side-space: 20px;
    }
}
